{%extends 'my_gallery/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through gally   -->
  {% for pictures in gally %}

  <div class="row">
    <!-- displaying pictures in gally -->
    <div class="col-md-12">
      <h2 class="text-center"> {{ pictures.title }} </h2>
    </div>

 

  <!--Display pictures in gally -->
  <div class="col-md-12 ">
    <img src="{{pictures.image.url}}" class="img-responsive" alt="Image">
  </div>

</div>
  {% empty %}
  <div class="row">
    <h2 class="text-center">Oops No pictures here!</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}

