{%extends 'my_gallery/base.html'%}
{% load bootstrap4%}
{% block content %} 
{{ block.super}}

<script>
  function myFunction() {
    var copyText = document.getElementById("ani");
    copyLink.select();
    copyLink.setSelectionRange(0, 99999)
    document.execCommand("copy");
    alert("Copied the link: " + copyLink.value);
  }
</script>

<div class="container">
  <div class="row">
  <!-- Looping through gally   -->
  {% for pictures in gally %}

  
    <!-- displaying pictures in gally -->
    <div class="col-md-4 ">
        <h2 class="text"> {{ pictures.name }} </h2>
        <img src="{{pictures.image.url}}" class="img-responsive" alt="Image" width="100%" data-toggle="modal" data-target="#{{pictures.id}}">
      </div>
  
     <!-- Modal -->

     <div class="modal fade" id="{{pictures.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle"><strong>{{pictures.name}}</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{pictures.image.url}}" class="img-responsive" alt="Image" width="50%">
            </div>
            <div class="modal-footer">
              <input type="text" value="127.0.0.1:8000{{pictures.image.url}}"id="ani">
              <a onclick="myFunction(ani)"><button class="btn btn-secondary">Copy link</button></a>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
 

 

  <!--Display pictures in gally -->
  


  {% empty %}
  <div class="row">
    <h2 class="text-center">Oops No pictures here!</h2>
  </div>
   
  {% endfor %}
</div>
</div>

{% endblock %}

