{%extends 'my_gallery/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if pictures%}
      <h2>Found {{ pictures|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 pictures for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if pictures %}
    {% for picture in pictures %}
      <div class="col-md-4">
        <img src="{{picture.image.url}}" class="img-responsive" alt="Image">
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}